
h1 {
  text-align: center;
}

.division {
  /* background: url("https://img.freepik.com/free-vector/people-exercising-fitness-gym-room-with-sport-equipment-workouts-woman-men-training-treadmill-bike-lifting-dumbbells-healthy-lifestyle_575670-1883.jpg") no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login_div {
  background-color: rgba(215, 217, 219, 0.826);
  border: 1px solid;
  border-radius: 30px;
  padding: 20px;
  width: 25%;
}

label {
  font-size: larger;
}

input {
  border: 1px solid silver;
  padding: 10px;
  width: 85%;
  border-radius: 5px;
}
.logbutton{
  text-align: center;
}

button {
  font-size: larger;
  color: white;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(87, 87, 164);
  cursor: pointer;
  width: 50%;
}

button:hover {
  color: white;
  background-color: rgb(85, 98, 234);
}
.forgotpass a {
  color: rgba(55, 106, 226, 0.923);
  text-decoration: none;
}
.forgotpass a:hover {
  text-decoration: underline;
}

.for_register {
  text-align: center;
  font-size: larger;
}

.for_register a {
  color: rgba(55, 106, 226, 0.923);
  text-decoration: none;
}

.for_register a:hover {
  text-decoration: underline;
}


/* validation */
input.ng-touched.ng-invalid{
  border: 1px solid red;
}

input.ng-touched.ng-valid {
  border: 1px solid green;
}
.errors{
  width: 90%;
  color: red;
  font-size: large;
}
.input p{
  padding: 10px;
}
@media (max-width:900px){
  .login_div{
    width: 50%;
  }
}
@media (max-width:500px){
  .login_div{
    width: 70%;
  }
}

